*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//variables
$color-primary-light: #00000091;
$color-primary-dark: #000000a6;

.hide_menu{
    display: block;
}
.topNav_checkbox{
    visibility: hidden;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.topNav{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right bottom , $color-primary-light,$color-primary-dark), url(img/header-bg.jpg);
    background-size: cover;
    background-position: top;

    &_icon_transparent{
        background: transparent;
    }
    &_icon_rotate_top{
        display: inline-block;
        top: 0; 
        transform: rotate(135deg);
    }
    &_icon_rotate_down{
        top: 0;
        transform: rotate(-135deg);
    }


    &_brand{
        text-decoration: none;
        color: white;
        font-size: 3em;
        display: block;
        transition: all .4s;
        text-align: center;
        margin: 15vh;
        text-transform: uppercase;
        text-shadow: 5px 10px 20px rgba(black, .8);
       
   &:hover,
    :focus{
        transform: translateY(-3px);
       text-shadow: 5px 10px 20px rgba(black, .4);
    }
   &:active{
       transform: translateY(2px);
       text-shadow: 5px 10px 20px rgba(black, .8);
   }
    }
    &_Ul{
        width: 100%;
        text-align: center;
        padding: 25px;
        background-color:rgba(grey, .8);
        width: 50%;
        border-radius: 25px;
        margin: 0 auto;
        display: none;
    }
    &_li{
        display: inline-block;
        margin-right: 10px;
        list-style: none;
        text-align: center;

        & a,
        :link,
        :visited{
           color: white;
           text-decoration: none;
           padding: 20px;

           &:hover{
               background: green;
           }
        }
    }

    //navigation styling goes here

    &_button{
        background: white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
        text-align: center;
        display: inline-block;
        position: fixed;
        top: 15px;
        right: 0;
        &--container{
            margin-top: 22px;
            position: absolute;
            display: inline-block;
            right: 7px;
        }
    }

  
    //icon
    &_icon{
        position: relative;
        
        &,
        &_before,
        &_after{
            width: 20px;
            height: 2px;
            background: black;
            display: inline-block;
            z-index: 8;
            transition: all .4s;
        }
        &_before,
        &_after{
           content: "";
           position: relative;
           left: 0;
        }
        &_before{
            top:-8px;
        }
        &_after{
            top:8px;  
        }
    }
        &_button:hover &_icon_before{
            top: -6px;
        }
        &_button:hover &_icon_after{
            top: 6px;
        }
        &_checkbox:checked + &_button &_icon{
            background: transparent;
        }
        &_checkbox:checked + &_button &_icon_before{
            top: 2;
            transform: rotate(135deg);
        }
        &_checkbox:checked + &_button &_icon_after{
            top: -3;
            transform: rotate(-135deg);
        }
    }
   


@media screen and (max-width: 400px) {
    .topNav{
        &_brand{
            font-size: 1.5em;
        }
        &_Ul{
            background: transparent;
            width: 100%;
            border-radius: 0;
        }
        &_li{
            display: block;
            padding: 10px;

            &:hover{
                outline: none;
            }
        }
        &_button{
            width: 30px;
            height: 30px;
            &--container{
                margin-top: 13px;
                position: absolute;
                display: inline-block;
                right: 4px;
            }
        }
       
        &_icon{
            &,
            &_before,
            &_after{
                width: 15px;
            }
            &_before{
                top: -4px;
            }
            &_after{
                top: 4px;
            }
            &_button_hover &_icon_before{
                top: -3px;
            }
            &_button_hover &_icon_after{
                top: 3px;
            }
            
        }
       
    }


    
}